<!-- Blogs -->
<section class="mycontainer paddingY bg-[var(--colorWhite)]">
    <div class="mb-10">
        <h2 class="text-center text-4xl mb-3 text-[var(--darkBlue)] font-bold">AquaZap Blogs</h2>
        <a href="/pages/allblog"
                class="w-fit mx-auto mt-8 block bg-[var(--green)] text-[var(--colorWhite)] hover:bg-[var(--greenHover)] py-2 px-4 rounded-md  transition duration-300 ease-in-out text-[1.1rem] uppercase">Read More
        </a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for blog in collections.blogPosts %}
            {% if loop.index <= 3 %}
                <a href="{{ blog.url }}" class="border-2 hover:border-[var(--primaryColor)] rounded-md overflow-hidden shadow-md transition duration-300 ease-in-out">
                    <img src="{{ blog.data.img }}" alt="{{ blog.data.title }}" class="">
                    <h1 class="text-xl p-4">{{ blog.data.title }}</h1>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</section>