{% extends "base.njk" %}

{% block content %}

{# Hero Section #}
{% include "components/shared/heroSection.njk" %}

{# Blog #}
<section
  id="blogPost"
  class="mycontainer paddingY bg-[var(--colorWhite)] flex justify-center"
>
  <div class="lg:w-[70%]">
    <h2 class="text-3xl font-normal">{{ title }}</h2>
    <div class="flex item-center gap-6 mt-4">
      <span class="flex items-center gap-[.5rem] text-lg">
        <i class="fa-regular fa-clock"></i>
        {{date}}</span
      >
      <span class="flex items-center gap-[.5rem] text-lg">
        <i class="fa-regular fa-user"></i>
        {{author}}</span
      >
    </div>
    <img
      src="{{img}}"
      alt="{{title}}"
      class="lg:h-[60vh] w-full object-cover mt-4 rounded-md"
    />

    {{ content | markdown | safe }}
  </div>
</section>

{# Make a call section #} 
{% include "components/shared/makeaCallSection.njk" %}

<!-- blog 3 card -->
{% include "components/shared/blog3card.njk" %}

{% endblock %}