<header id="navbar" class="sticky w-full z-50 top-0 transition-all duration-500 ease-in-out">
        <!-- Main Navbar -->
        <nav class="z-50 bg-white shadow-sm  relative mycontainer">
            <div class="mx-auto  py-4 flex justify-between items-center ">
                <!-- hamburger menue -->
                <a
                    class="lg:hidden bg-[var(--primaryColor)] text-[var(--colorWhite)] px-3 py-1 rounded-md cursor-pointer menuToggle">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="flex gap-8">
                    <!-- Logo and company name -->
                    <a href="/" class="order-last lg:order-none flex items-center space-x-2">
                        <div class="flex flex-col">
                            <span class="text-[var(--primaryColor)] font-bold lg:text-3xl text-[1.3rem]">Aqua<span
                                    class="text-[var(--darkBlue)]">Zap.</span></span>

                        </div>
                    </a>
                    <!-- Navigation links -->
                    <div class="hidden lg:flex  text-[var(--colorDark)] font-medium">
                        <a href="/"
                            class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Home</a>
                        <a href="/about"
                            class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">About</a>
                        <li class="relative group ">
                            <button onclick="window.location.href='/ourservices';"
                                class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Services
                                <i
                                    class="fa-solid fa-chevron-down text-[var(--primaryColor)] text-[1rem] "></i></button>
                            <!-- Dropdown Menu -->
                            <ul
                                class="absolute left-0 top-[2.1rem] w-[20rem]  hidden group-hover:block bg-[var(--colorWhite)] py-6 pb-5 rounded-md px-3  mt-2  z-10">
                                
                                    <li><a href="/ourservices"
                                            class=" block hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Our
                                            Services</a>
                                    </li>
                                    {% for service in collections.services %}
                                        <li><a href="{{service.url}}"
                                            class=" block hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">{{ service.data.title }}</a>
                                        </li>
                                    {% endfor %}
                                
                            </ul>
                        </li>
                        <li class="relative group">
                            <button onclick="window.location.href='/our-service-area';"
                                class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Service
                                Areas <i class="fa-solid fa-chevron-down text-[var(--primaryColor)] text-[1rem] "></i>
                            </button>
                            <!-- Dropdown Menu -->
                            <ul
                                class="absolute left-0 top-[2.1rem] w-[20rem] hidden group-hover:block bg-[var(--colorWhite)] py-6 pb-5 rounded-md px-3  mt-2  z-10">
                                <li><a href="/our-service-area"
                                        class=" block hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Our Service Areas</a>
                                </li>
                                {% for serviceArea in collections.service_areas %}
                                    <li><a href="{{serviceArea.url}}"
                                        class="block hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">{{ serviceArea.data.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- <a href="#"
                        class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Shop</a> -->
                        <a href="/blogs"
                            class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Blogs</a>
                        <a href="/contact"
                            class="hover:text-[var(--primaryColor)]  px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Contact</a>
                    </div>
                </div>
                <!-- Get Free Quote Button -->
                <div class="mt-3 md:mt-0  flex items-center gap-2">
                    <a href="tel:8669376739"
                        class="hidden xl:block hover:text-[var(--greenHover)] transition duration-300 ease-in-out text-[1.1rem]  text-[var(--green)] "><i
                            class="fa-solid fa-mobile-screen-button"></i> <span class="">866-937-6739</span></a>
                    <a href="/contact#contactus"
                        class="hidden xl:block bg-[var(--green)] text-[var(--colorWhite)] py-2 px-4 rounded-md hover:bg-[var(--greenHover)] transition duration-300 ease-in-out text-[1.1rem] uppercase">Schedule
                        Service</a>
                    <a href="tel:8669376739" title="Call Us" class="xl:hidden block">
                        <i
                            class="fa-solid fa-mobile-screen-button text-[var(--green)] hover:text-[var(--greenHover)]  text-2xl"></i>
                    </a>
                    <a href="/contact#contactus" title="Schedule Service"
                        class="text-[var(--green)] hover:text-[var(--greenHover)] xl:hidden block text-2xl">
                        <i class="fa-solid fa-calendar-days"></i>
                    </a>
                </div>


            </div>

            <!-- mobile menu -->
            <div class="z-10  bg-[var(--primaryColor)]  lg:hidden absolute left-0 top-0 transition-all duration-300 ease-in-out transform -translate-x-[400%] w-[60%] h-screen px-4 md:px-10 py-5"
                id="mobileMenu">
                <div class=" text-[var(--colorDark)] font-medium flex flex-col gap-2">
                    <!-- hamburger menue -->
                    <div class="flex justify-between">
                        <div></div>
                        <a
                            class="lg:hidden bg-[var(--colorWhite)] text-[var(--primaryColor)] px-3 py-1 rounded-md cursor-pointer menuToggle group">
                            <i class="fa-solid fa-xmark transition group-hover:rotate-90"></i>
                        </a>
                    </div>
                    <a href="/"
                        class="hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Home</a>
                    <a href="/about"
                        class="hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">About</a>
                    <a href="#" <li class="relative">
                        <a 
                            class="flex items-center justify-between w-full hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold]"
                            onclick="toggleDropdown()">Services <i
                                class="fa-solid fa-chevron-down transform transition duration-200 ease-in-out text-[var(--green)]"
                                id="dropMenu"></i></a>
                        <!-- Dropdown Menu (Hidden by default) -->
                        <ul id="mobileDropdown" class="hidden pl-4 space-y-2 text-[var(--colorWhite)]">
                            <li><a href="/ourservices"
                                    class=" block hover:bg-[var(--colorWhite)] hover:text-[var(--primaryColor)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Our
                                    Services</a>
                            </li>
                            {% for service in collections.services %}
                                    <li><a href="{{service.url}}"
                                        class=" block hover:bg-[var(--colorWhite)] hover:text-[var(--primaryColor)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">{{ service.data.title }}</a>
                                    </li>
                            {% endfor %}
                        </ul>
                        </li>
                        <li class="relative">
                            <a href="#"
                                class="flex items-center justify-between w-full hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold"
                                onclick="toggleDropdown2()">Service Areas<i
                                    class="fa-solid fa-chevron-down transform transition duration-200 ease-in-out text-[var(--green)]"
                                    id="dropMenu2"></i></a>
                            <!-- Dropdown Menu (Hidden by default) -->
                            <ul id="mobileDropdown2" class="hidden pl-4 space-y-2 text-[var(--colorWhite)]">
                                <li><a href="/our-service-area"
                                        class=" block hover:bg-[var(--colorWhite)] hover:text-[var(--primaryColor)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Our
                                        Service Areas</a>
                                </li>
                                {% for serviceArea in collections.service_areas %}
                                    <li><a href="{{serviceArea.url}}"
                                        class="block hover:bg-[var(--colorWhite)] hover:text-[var(--primaryColor)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">{{ serviceArea.data.title }}</a>
                                    </li>
                                {% endfor %}
                                


                            </ul>
                        </li>
                        <!-- <a href="#"
                            class="hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Shop</a> -->
                        <a href="/blogs"
                            class="hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Blogs</a>
                        <a href="/contact"
                            class="hover:bg-[var(--colorWhite)] text-[var(--colorWhite)] hover:text-[var(--colorDark)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-semibold">Contact</a>
                        <div class="  space-y-3">
                            <a href="/contact"
                                class=" block bg-[var(--green)] text-[var(--colorWhite)] hover:bg-[var(--greenHover)] py-3 px-5 rounded-md  transition duration-300 ease-in-out text-[1.1rem] uppercase">Schedule
                                Service
                            </a>
                            <a href="tel:8669376739"
                                class=" block bg-[var(--green)] text-[var(--colorWhite)] hover:bg-[var(--greenHover)] py-3 px-5 rounded-md  transition duration-300 ease-in-out text-[1.1rem] uppercase">Call
                                Now!
                            </a>
                        </div>
                </div>

            </div>
        </nav>
  </header> 