<!-- Servise Tstimonial -->
<section class=" mx-auto   bg-[var(--colorWhite)]  mycontainer paddingY">
    <div class="mb-10">
        <h4 class="text-center text-4xl mb-3 text-[var(--darkBlue)] font-bold">Best Services We Offer</h4>
        <p class="hidden sm:block text-center  text-[var(--colorDark)]">Lorem Ipsum is simply dummy text of the
                printing and typesetting industry.<br> has been the industry's standard dummy text ever since the 1500s.
        </p>
    </div>

    <div class="container swiper">
        <div class="slider-wrapper">
            <div class="card-list swiper-wrapper">
                {% for service in services %}
                   <div class="card-item swiper-slide bg-[var(--primaryColor)] rounded-xl group overflow-hidden">
                    <div class="overflow-hidden  w-full h-[16rem]">
                        <img src={{ service.img }}
                                class=" w-full h-full object-cover transition-transform duration-200 ease-in-out group-hover:scale-110"
                                alt="kitchen plumbing">
                    </div>
                    <a href="./pages/bathroomservice/index.html" class="p-4 flex items-center justify-between">
                        <h4 class="text-[var(--colorWhite)] text-xl font-medium  ">{{ service.name }}</h4>
                        <i class="fa-solid fa-chevron-right text-[var(--colorWhite)]"></i>
                    </a>
                </div>
                {% endfor %}
                
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div>
</section>