---
layout: "base.njk"

---

{# Hero section #}
{% include "heroSection.njk" %} 

{# Services #}
<section
  id="blogPost"
  class="mycontainer paddingY bg-[var(--colorWhite)] flex justify-center"
>
  <div class="lg:w-[70%]">
    <img
      src="{{img}}"
      alt="{{title}}"
      class="lg:h-[60vh] w-full object-cover mb-4 rounded-md"
    />

    {{ content | safe }}
  </div>
</section>

{# Make a call section #} 
{% include "makeaCallSection.njk" %}

<!-- blog 3 card -->
{% include "blog3card.njk" %}