{% extends "base.njk" %}

{% block content %}

{# Hero Section #}
{% include "components/shared/heroSection.njk" %}

{# Services #}
<section
  id="blogPost"
  class="mycontainer paddingY bg-[var(--colorWhite)] flex justify-center"
>
  <div class="lg:w-[70%]">
    <img
      src="{{img}}"
      alt="{{title}}"
      class="lg:h-[60vh] w-full object-cover mb-4 rounded-md"
    />
    <h2 class="text-3xl font-normal mb-4">{{ title }}</h2>

    {{ content | safe }}
  </div>
</section>



{# Make a call section #} 
{% include "components/shared/makeaCallSection.njk" %}

<!-- blog 3 card -->
{% include "components/shared/blog3card.njk" %}

{% endblock %}