---
layout: "base.njk"

---

{# Hero section #}
{% include "heroSection.njk" %} 

{# Services #}
<section
  id="blogPost"
  class="mycontainer paddingY bg-[var(--colorWhite)] flex justify-center"
>
  <div class="lg:w-[70%]">
    <img
      src="{{img}}"
      alt="{{title}}"
      class="lg:h-[60vh] w-full object-cover mb-4 rounded-md"
    />

    {{ content | safe }}
  </div>
</section>

{# Make a call section #} 
{% include "makeaCallSection.njk" %}

<!-- blog 3 card -->
{% include "blog3card.njk" %}

<!-- Map -->
<div class="w-full max-w-6.5xl mx-auto">

  <div class="overflow-hidden  shadow-lg">
      <iframe class="areassection-map-frame rounded-lg"
          src="{{src}}"
          width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
      </iframe>
  </div>
</div>