{# Make a call section #}
<section class=" paddingY bg-[var(--bgCream)] text-[var(--colorWhite)] h-[25vh] mt-40">
  <div class="w-fit mx-auto rounded-md bg-[var(--primaryColor)] py-12 px-12 text-center text-white -mt-[10rem]">
    <h2 class="text-3xl text-[var(--colorWhite)] font-bold mb-6">Book a Cleaning with AquaZap Today!</h2>
    <div class="flex justify-center gap-4">
      <a href="/contact#contactus" class="bg-white text-[var(--darkBlue)] font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-gray-100 transition">SCHEDULE ONLINE</a>
      <a href="tel:8669376739" class="bg-white text-[var(--darkBlue)] font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-gray-100 transition">CALL NOW</a>
    </div>
  </div>
</section>