<section class="mx-auto mycontainer paddingY">
    <h3 class="text-[var(--primaryColor)] text-3xl font-bold">Privacy Policy (AquaZap)</h3>
    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Introduction</h4>
    {{ content | markdown | safe }}
</section>