---
layout : 'base.njk'
title : AquaZap | About

heroImgSrc : "/assets/carpetClean.webp"
heroImgAlt : "HomePageHeroImg"
heroTitle : "About Us"
heroContent : "Lorem ipsum dolor sit amet. Est amet eaque cum suscipit inventore ea quisquam voluptate id tempore pariatur aut eveniet recusandae et quae tempora aut debitis enim. Non quos debitis non similique libero aut aliquam illo sed ipsum odit aut harum minus qui rerum corrupti."



describe_section1_img : "/assets/carpetClean.webp"
describe_section1_alt : "Professional cleaning"
describe_section1_title1 : "AquaZap Beginnings"
describe_section1_title2 : "People and technology you can trust."
describe_section1_para1 : "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, nobis. Nesciunt itaque nihil, asperiores est nulla quas consectetur quaerat aliquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, blanditiis accusantium. Numquam aspernatur quaerat laudantium!"
describe_section1_para2 : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas, doloribus pariatur sequi praesentium officiis incidunt accusantium quibusdam facere ducimus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, blanditiis accusantium. Numquam aspernatur quaerat laudantium! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, blanditiis accusantium. Numquam aspernatur quaerat laudantium!"
describe_section1_point1 : "Safe for People, Pets, and the Planet"
describe_section1_point2 : "Patented Zerorez Technology"
describe_section1_point3 : "Platinum Certification by the Carpet and Rug Institute"
describe_section1_list_hidden : "hidden"

describe_section2_img : "/assets/homehero.jpg"
describe_section2_alt : "Professional cleaning"
describe_section2_title1 : "Our Committment"
describe_section2_title2 : "People and technology you can trust."
describe_section2_para1 : "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, nobis. Nesciunt itaque nihil, asperiores est nulla quas consectetur quaerat aliquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, blanditiis accusantium. Numquam aspernatur quaerat laudantium!"
describe_section2_para2 : "Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas, doloribus pariatur sequi praesentium officiis incidunt accusantium quibusdam facere ducimus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, blanditiis accusantium. Numquam aspernatur quaerat laudantium! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, blanditiis accusantium. Numquam aspernatur quaerat laudantium!"
describe_section2_point1 : "Safe for People, Pets, and the Planet"
describe_section2_point2 : "Patented Zerorez Technology"
describe_section2_point3 : "Platinum Certification by the Carpet and Rug Institute"
describe_section1_title2_hidden : "hidden"
---
  <!-- AboutUs Hero section -->
  {% include "heroSection.njk" %}

  <!-- About Us -->
  {% include "describeSection1.njk" %}

  <!-- Servise Card Section -->
    {% include "serviceCard.njk" %}

  <!-- Commitement section -->
  {% include "describeSection2.njk" %}

  <!-- Testimonial -->
    <section class="mycontainer paddingY bg-[var(--colorWhite)]">
        <div class="mb-10">
            <h2 class="text-center text-4xl mb-3 text-[var(--darkBlue)] font-bold">Client Voices</h2>
            <p class="hidden sm:block text-center  text-[var(--colorDark)]">Our customers would refer AquaZap to a friend. Experience The AquaZap Difference for yourself!
            </p>
        </div>

        <div class="container swiper">
            <div class="slider-wrapper">
                <div class="card-list swiper-wrapper">
                    {% for testimonial in testimonials %}
                    <div class="card-item swiper-slide bg-[var(--primaryColor)] rounded-xl group overflow-hidden h-[20rem] p-8">
                        <div class="flex flex-col justify-between h-full">
                           <div class="stars">
                               {% for i in range(1, 6) %}
                                    {% if i <= testimonial.stars %} 
                                        <span class="text-[var(--gold)] text-lg">&#9733;</span>
                                    {% endif %}
                               {% endfor %}
                               <blockquote>
                                    <p class="text-[var(--colorWhite)]">"{{ testimonial.message }}"</p>
                               </blockquote>
                            </div>
                            
                            <p class="text-[var(--colorWhite)]">~{{testimonial.person}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-slide-button swiper-button-prev"></div>
                <div class="swiper-slide-button swiper-button-next"></div>
            </div>
        </div>
    </section>

{# Accordination #}
  {% include "accordion.njk" %}



