---
layout : 'base.njk'
title : Contact Us

heroImgSrc : "/assets/contactus.avif"
heroImgAlt : "HomePageHeroImg"
heroTitle : "Contact Us"
heroBTN : "hidden"
---

{% include "heroSection.njk" %}

<section class="paddingY" id="contactus">
        <!-- Form Section -->
        <div class="mycontainer lg:px-[18rem]  bg-[var(--colorWhite)]   w-full  flex flex-col justify-center ">
            <h2 class="text-sm font-semibold text-[var(--textGray)]">BOOK ONLINE</h2>
            <h1 class="text-3xl font-bold text-[var(--darkBlue)] mb-6">Online Booking For Appointments.</h1>

            <!-- Form -->
            <form class="space-y-4 ">

                <!-- Full Name and Email -->
                <div class="flex flex-col md:flex-row md:space-x-4">
                    <div class="w-full mb-4 md:mb-0">
                        <label class="block text-[var(--textGray)] text-sm mb-1">Full name here*</label>
                        <input type="text" placeholder="Ross Ward"
                            class="w-full px-4 py-2 bg-[var(--bgLight)] rounded-lg text-[var(--darkBlue)] focus:outline-none focus:ring-2 focus:ring-[var(--primaryColor)]">
                    </div>
                    <div class="w-full">
                        <label class="block text-[var(--textGray)] text-sm mb-1">Email here*</label>
                        <input type="email" placeholder="rossward@gmail.com"
                            class="w-full px-4 py-2 bg-[var(--bgLight)] rounded-lg text-[var(--darkBlue)] focus:outline-none focus:ring-2 focus:ring-[var(--primaryColor)]">
                    </div>
                </div>

                <!-- Contact Number and Select Service -->
                <div class="flex flex-col md:flex-row md:space-x-4">
                    <div class="w-full mb-4 md:mb-0">
                        <label class="block text-[var(--textGray)] text-sm mb-1">Contact number*</label>
                        <input type="tel" placeholder="+88 *** *** ***"
                            class="w-full px-4 py-2 bg-[var(--bgLight)] rounded-lg text-[var(--darkBlue)] focus:outline-none focus:ring-2 focus:ring-[var(--primaryColor)]">
                    </div>
                    <div class="w-full">
                        <label class="block text-[var(--textGray)] text-sm mb-1">Select service*</label>
                        <select
                            class="w-full px-4 py-2 bg-[var(--bgLight)] rounded-lg text-[var(--darkBlue)] focus:outline-none focus:ring-2 focus:ring-[var(--primaryColor)]">
                            <option>Subject</option>
                            {% for service in collections.services %}
                                <option>{{service.data.title}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                </div>

                <!-- Short Text -->
                <div>
                    <label class="block text-[var(--textGray)] text-sm mb-1">Short text*</label>
                    <textarea placeholder="Type your message"
                        class="w-full px-4 py-2 bg-[var(--bgLight)] rounded-lg text-[var(--darkBlue)] focus:outline-none focus:ring-2 focus:ring-[var(--primaryColor)] h-32"></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit"
                    class="w-full md:w-fit bg-[var(--green)] hover:bg-[var(--greenHover)] text-[var(--colorWhite)] font-semibold py-3 px-3 rounded-lg mt-4">Get
                    An Appointment</button>
            </form>
        </div>

    </section>

