---
layout : 'base.njk'
title : "Our Plumbing Services | AquaZap – Comprehensive Solutions for Your Home & Business"

heroImgSrc : "/assets/homehero.jpg"
heroImgAlt : "HomePageHeroImg"
heroTitle : "Our Servises"
heroBTN : "hidden"

---

{% include "heroSection.njk" %}

<section class="mycontainer paddingY">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for service in collections.services %}
        <a href="{{service.url}}"
            class="border-2 hover:bg-[var(--primaryColor)] hover:text-[var(--colorWhite)] hover:scale-105 rounded-md overflow-hidden shadow-md transition duration-300 ease-in-out group">
            
            <div class="relative">
                <img src="{{ service.data.img }}" alt="{{ service.data.title }}" class="w-full h-auto">
                
                <!-- Overlay only on image -->
                <div
                    class="absolute top-0 left-0 w-full h-full bg-[var(--bgLight3)] flex items-end p-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                </div>
            </div>
    
            <div class="p-4">
                <h3 class="text-2xl">{{ service.data.title }}</h3>
                <p class="mt-2">{{ service.content.slice(3) |  truncate(60, '...')  }}</p>
                <p class="mt-2 underline">Read more</p>
            </div>
        </a>
        {% endfor %}
    </div>
    
</section>

