{% extends "base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %} 

<!-- Describe Section 1 -->
{% include "components/shared/describeSection1.njk" %}

<!-- Servise Card Section -->
{% include "components/shared/serviceCard.njk" %}

<!-- Describe Section 2 -->
{% include "components/shared/describeSection2.njk" %}

<!-- Testimonial -->
{% include "components/shared/testimonial.njk" %}

<!-- accordination -->
{% include "components/shared/accordion.njk" %}


{% endblock %}





