{% extends "base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!--  Blog Pagination -->
{% include "components/allblogs/blogPagination.njk" %}


{% endblock %}