{% extends "base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Servise crousal Section -->
{% include "components/shared/serviceCrousel.njk" %}

<!-- Servise Card Section -->
{% include "components/shared/serviceCard.njk" %}

<!-- Describe Sction1 -->
{% include "components/shared/describeSection1.njk" %}

<!-- Testimonial -->
{% include "components/shared/testimonial.njk" %}

<!-- blog 3 card -->
{% include "components/shared/blog3card.njk" %}

<!-- accordination -->
{% include "components/shared/accordion.njk" %}

{% endblock %}











