{% extends "base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Privacy policy content-->
{% include "components/privacyPolicy/privacyPolicy.njk" %} 

<!-- blog 3 card -->
{% include "components/shared/makeaCallSection.njk" %}

<!-- Blog3 card -->
{% include "components/shared/blog3card.njk" %}


{% endblock %}

















