---
layout : '_layouts/allblog.njk'
title : AquaZap Blog | Plumbing Tips, Tricks, and Industry Insights

heroImgSrc : "/assets/homehero.jpg"
heroImgAlt : "HomePageHeroImg"
heroTitle : "Helpful Home Tips: AquaZap Blog"
heroBTN : "hidden"

pagination:
  data: collections.blogPosts  
  size: 3    # Number of items per page
  alias: posts
---



