---
layout : 'base.njk'
title : AquaZap | Servises

pagination:
  data: services
  size: 1
  alias: service
permalink: "/service/{{ service.name }}/"

heroImgSrc : "/assets/homehero.jpg"
heroImgAlt : "HomePageHeroImg"
heroTitle : "Got a leak? We’re on it!"
heroBTN : "hidden"
---
{# Hero section #}
{% include "heroSection.njk" %}

{# Blog #}
<section class="mycontainer paddingY bg-[var(--colorWhite)] flex justify-center">
  <div class="lg:w-[70%]">
    <img src={{service.img}} alt={{service.name}} class="lg:h-[60vh] w-full object-cover  rounded-md">
    <h2 class="text-3xl font-normal mt-4">{{ service.name }}</h2>
    <p class="text-lg font-normal mt-4 text-[var(--textGray2)]">{{ service.content}}</p>
  </div>
</section>

{# Make a call section #}
{% include "makeaCallSection.njk" %}

{# Service crousel #}
{% include "serviceCrousel.njk" %}

{# accordion #}
{% include "accordion.njk" %}



<!-- blog 3 card -->
{% include "blog3card.njk" %}